/******************BeInformed/Partners styles added by Yasir *******************/    
#main .contents{ border:none;}
.BeInformed ul.tabs { float: left; list-style-image: none; list-style-position: outside; list-style-type: none; margin-left: 0; margin-right: 0; position: relative; z-index: 10;}
.BeInformed ul.tabs li{ float:left; margin-right:6px;} 
.BeInformed ul.tabs li a{ display:inline-block; padding:0 0 0 20px; height:41px; background:url(sub-page-tab-bg.png) no-repeat 0 -41px;} 
.BeInformed ul.tabs li a span{ display:inline-block; padding:10px 20px 0 0; height:31px; font-weight:bold; color:#5482ab; background:url(sub-page-tab-bg.png) no-repeat 100% -41px;}
.BeInformed ul.tabs li a.selected{ background:url(sub-page-tab-bg.png) no-repeat 0 0px;}
.BeInformed ul.tabs li a.selected span{ color:#333; background:url(sub-page-tab-bg.png) no-repeat 100% 0px;}
.BeInformed .tab-contents{ width:100%; float:left;}
.page-main-inner{ float:left; width:620px; padding-right:30px; margin-right:10px; border-top:solid 1px #E2E2E2; margin-top:-1px; padding:30px 20px 20px 20px;}
.email_title{ margin-top:20px; margin-bottom:5px;}
.BeInformed input[type="text"], .BeInformed input[type="password"]{ width:150px;}
.email_password_button{ margin-top:15px;}
.BeInformed_note{ padding-top:30px; clear:both;}
.BeInformed-green{ width:240px; height:123px; position:relative; text-align:left; background:url(green-box.png) no-repeat 0 0; margin-bottom:30px;} 
.BeInformed-green h4{ font-size:18px; font-weight:normal; position:absolute; color:#FFF; top:32px; left:20px; width:200px; padding-top:0px; }
.BeInformed-green p.description{ color:#fff; position:absolute; color:#FFF; top:50px; left:20px; width:200px; line-height:1.2em;}
.BeInformed-green a{ font-size:12px; position:absolute; color:#a8cef4; top:80px; left:20px; widows:100px;}
.BeInformed-hero{ width:940px; height:201px; position:relative; margin-bottom:34px;}
.BeInformed-hero .BeInformed-hero-contents{ position:absolute; top:50px; left:320px;}
.BeInformed-hero h1{ font-size:36px; line-height:37px; font-weight:normal; color:#333; width:600px; font-family:futura-pt, Arial, Helvetica, sans-serif; margin-bottom:5px;}
.BeInformed-hero h3{ font-size:13px; font-weight:normal; color:#666; width:600px;}
.BeInformed-hero p.description{ font-size:16px; color:#666; width:600px; font-family:futura-pt, Arial, Helvetica, sans-serif;}
.BeInformed_contact input[type="text"]{ width:400px; margin-top:5px;}
.BeInformed_contact .title{ font-weight:bold; padding-top:15px; clear:both;}
.BeInformed_login{ padding-top:15px;}
.BeInformed_login .title{ padding-bottom:5px; font-weight:bold;}
.BeInformed_email , .BeInformed_phone{ width:200px; font-weight:bold; padding-top:15px; float:left;}
.BeInformed_phone{ margin-left:10px;}
.BeInformed_email input[type="text"], .BeInformed_phone input[type="text"]{ width:190px; margin-top:5px;}
.BeInformed_contact input.text,.BeInformed_email input.text,.BeInformed_phone input.text,.BeInformed_contact input.email, .BeInformed_contact input.password,.BeInformed_contact textarea.uniform{ background-image:none;}
.BeInformed_contact .textarea{ width:400px; height:80px; margin-top:5px;} 
.sales,.other,.status{ display:inline; margin-right:15px; padding-top:10px;}
.required{ color:#990000; font-weight:bold;}
.login{ width:390px; float:left;}
.new_user{ float:left; width:208px; height:197px; padding-left:20px; position:relative; margin-bottom:34px;}
.new_user .new_user_contents{ position:absolute; padding:15px; width:180px; }
.new_user h2{ font-size:36px; line-height:37px; font-weight:normal; color:#333; margin-bottom:5px;}
.new_user h3{ font-size:13px; font-weight:normal; color:#666; width:600px; margin-top:0px; }
.new_user p.description{ font-size:12px; color:#666; font-family:futura-pt, Arial, Helvetica, sans-serif;}
.register_section #uniform-undefined.selector span,.register_section #uniform-state.selector span { min-width: 158px !important; width: 158px !important;}
.register_left{ float:left; width:430px; }
.register_right{ float:left; width: 150px; margin:20px 0 0 0; padding:0px 10px 0 20px; border-left:solid 1px #ccc; font-size:11px; height:420px;}
.partner_directory h2{ margin-top:20px;}
.partner_directory label, .blank{ float: left; width: 150px; font-weight:bold; cursor:normal;}
.partner_directory .block{ margin-top:20px;}
.partner_directory div.selector{ width:400px;}
.partner_directory #uniform-undefined.selector span,.partner_directory #uniform-state.selector span{ min-width: 250px !important; width: 250px !important;}
.partner_directory li{ list-style:none; padding-bottom:5px;}
.partner_directory li{ list-style-position:outside;}
.block .column{ float:left; width:225px; margin-right:20px; margin-left:-20px;}
.column_search li{ display:inline; padding-right:15px;}
.certified_partners{ margin-left:130px;}
.search_button a{ text-align:center; margin-left:350px; margin-top:30px;}
.partner .sub-page-sidebar{ width:200px; height:950px; padding-right:10px; float:left; background:url(sub-page-sidebar-bg.png) no-repeat 100% 100%;}
.BeInformed_home .sub-page-sidebar{ width:265px; padding-right:10px; float:left; background:url(splitter.png) no-repeat 100% 100%; height:1200px;}
.BeInformed_home .sub-page-sidebar .side_block li{ list-style:none; margin-left:-20px;}
.BeInformed_home .sub-page-sidebar .select_box li{ margin-left:-30px;}
.BeInformed_home .sub-page-main{ float:left; width:625px; position:relative;}    
.BeInformed-home-hero{ position:relative; margin-bottom:34px;}
.BeInformed-home-hero .BeInformed-home-hero-contents{ position:absolute; top:40px; left:180px; }
.BeInformed-home-hero h1{ font-size:36px; line-height:37px; font-weight:normal; color:#333; width:600px; font-family:futura-pt, Arial, Helvetica, sans-serif; margin-bottom:5px;}
.BeInformed-home-hero h3{ color: #669900; font-family: futura-pt,Arial,Helvetica,sans-serif; font-size: 14px; margin-bottom: 5px;}
.spotlight_heading{ float:left; width:26px; height:25px; margin-right:10px;}
body.circuit_zone.fuseaction_main .content_section{ width:290px; float:left; margin-right:20px;}
.BeInformed_home h2{ margin-bottom:5px; margin-top:20px;}
.BeInformed_home h3{ margin-bottom:5px;}
.BeInformed_home .border{ margin-top:30px; margin-bottom:15px; border-bottom:solid 1px #E2E2E2;}
.news-events{ margin-top:15px; margin-bottom:15px;}
.register_now{ margin-top:10px;}
.register_now img{ padding-left:5px;}
.wrapper_heading{ width:290px;}
.sidebar_wrapper{ width:250px; margin-left:30px;}
.submit_button{ margin-top:10px;}
.accenture{ width:249px; height:129px; position:relative; text-align:center; background:url(accenture.png) no-repeat 0 0; margin-bottom:30px; margin-top:20px; float:left;}
.accenture h4{ font-size:18px; font-weight:normal; position:absolute; color:#FFF; top:35px; left:20px; width:150px; text-align:left;}
.accenture a{ font-size:12px; position:absolute; color:#a8cef4; top:80px; left:20px; widows:100px;}
.light_blue_box{ width:240px; height:190px; position:relative; text-align:center; background:url(lightblue_bg.png) no-repeat 0 0; margin-bottom:30px; margin-top:0px; float:left;}
.light_blue_box h4{ font-size:16px; font-weight:normal; position:absolute; top:25px; left:20px; width:200px; text-align:left;}
.light_blue_box p{ font-size:12px; font-weight:normal; position:absolute; top:75px; left:20px; width:200px; text-align:left;}
.light_blue_box a { font-size:12px; position:absolute; top:150px; left:20px; widows:100px;}
.light_blue_box img{ top:150px;}
.page-head-search-container{ width:726px; float:left; margin-top:17px;}
.beINFORMed_logo{ float:left; width:209px; margin-top:15px;}
.sub-page-sidebar .search_by_characters ul{ margin-left:30px; list-style:none; font-size:12px; line-height:1.4em;}
.sub-page-sidebar .search_by_characters ul li{ margin-bottom:8px;}

/********* BeInformed_home_hover********/
#imenu ul li#menu-solutions:hover a.itop-menu{ background:url(enablement_top.png) no-repeat;color:#1b4973;}
#imenu ul li#menu-solutions:hover a.itop-menu span{ background:url(enablement_hover_span.png) no-repeat;color:#1b4973;}
#imenu ul li .idropdown{ position:absolute; margin:0px 0 0 -3px; padding:20px 25px 25px 25px; z-index:200; display:none;}
#imenu ul li#menu-solutions .idropdown{ height:350px; background:url(enablement_bottom.png) no-repeat 0 0; width:632px; margin-top:-3px;}
#imenu ul li .idropdown .section1, #imenu ul li .idropdown .section2, #imenu ul li .idropdown .section2b, #imenu ul li .idropdown .section3{ float:left; width:170px;}
#imenu ul li .idropdown .section1, #imenu ul li .idropdown .section2b{ margin-right:18px;}
#imenu ul li .idropdown h4{ font-size:13px;	font-weight:bold; font-family:Arial, Helvetica, sans-serif;	color:#333;}
#imenu ul li .idropdown h4.no-link{ color:#659900; margin-bottom:7px}
#imenu ul li .idropdown ul{ border-left:none; list-style:url(dropdown-arrow.png); margin:-7px 0 20px 12px; padding-left:0;}
#imenu ul li .idropdown ul li{ float:none; font-size:12px; line-height:1.5em; border:none;}
#imenu ul li .idropdown a{ color:#666;}
#imenu ul li .idropdown a:hover{ color:#0069aa; text-decoration:none;}
#imenu ul li .idropdown h4 a{ color:#333; display:inline-block; margin-bottom: 8px; padding-left:0px; line-height:1.3em; background-image:none;}
#imenu ul.tabs .idropdown li a{ display:inline-block; padding:0 0 0 0; height:20px; background:none;}
#imenu ul.tabs .idropdown li a span{ display:inline-block; padding:10px 20px 0 0; height:31px; font-weight:bold; color:#5482ab; background:none;}    
.communities ul.itabs li a span{ padding-right:22px;}