/*
 * This style sheet contains all styles declarations 
 * concerning both admin and user forms.
 */

form {
   margin: 0;
   padding: 0;
   font-size: 11px;
}

fieldset {
   border: 0;
   padding: 0 0 5px;
   margin: 0 0 5px;
   background-color: white;
}

legend { /* not using legend because it can't be positioned in firefox */ }

div.multiplehdr {
   border-bottom: 1px solid #ebebea;
   background-color: #fcfcfc;
   font-weight: bold;
   padding: 7px 11px;
}

form.userform a.arrow_button a.arrow_button_disabled { margin-top: 3px; }

#acReportHeader {
   border-top: 1px solid #9f9f9f;
   border-bottom: 1px solid white;
   background: #dfdfdf url(matching_bg.gif) repeat-x;
   margin: 0;
   padding: 5px 5px 0;
}

#acReportHeader h4 { margin-bottom: 7px; }

label {
   text-align: left;
   padding-left: 12px;
   font-size: 10px;
   color: #434433;
   font-weight: bold;
   margin-bottom: 4px;
   clear: both;
}

form.small { width: 50%; }

form *.note {
   font-style: oblique;
   margin: 20px auto 0;
   width: 60%;
}

label.required { 
   background: url(required-field-icon.gif) no-repeat left top;
   padding-left: 12px; 
}

/* field = "small field" field2 = "large field" */

div.field, div.entryanswer {
   font-size: 11px;
   width: 280px;
}

div.row div.row div.field, fieldset div.row div.field { width: auto; }

div.fieldWide {
   font-size: 11px;
   width: 80%;
   border: 1px solid red;
}
.readonly div.field { width: auto; }

input.field {
   width: 180px;
   font-size: 11px;
   margin-bottom: 4px;
   height: 16px;
}

select.field {
   width: 185px;
   font-size: 11px;
   margin-bottom: 4px; /* height: 16px; SC- looked bad in IE7 */
}

textarea.field {
   width: 400px;  /* This uses a hardcoded pixel size rather than 100% to ensure browser compatibility */
   font: 12px Verdana, Arial, sans-serif;
   margin: 0;
   padding: 0;
}

input.field2 {
   font-size: 11px;
   margin-bottom: 4px;
   height: 16px;
}

select.field2 {
   width: 80px;
   font-size: 11px;
   margin-bottom: 4px; /* height: 16px; SC- looked bad in IE7 */
}

input.delete {
   background-color: #cc0000;
   color: #ffffff;
   width: 20px;
   height: 20px;
   font-size: 10px;
}

textarea.nonEditable { 
   border: 1px solid #C0C0C0; 
   background-color: #E1E1E1;
}

select#rc_category { width: 175px; }

select#rc_sub_category { width: 265px; }

table.radios { margin-left: 10px; }

    
/* DATE SELECTOR STYLES */

select.datePeriod {
   width: 200px !important;
}

form span.dateNote {
   font-size: 9px;
   font-style: oblique;
   margin-left: -5px;
}

div.ds-wrapper {
   width: 225px;
   display: inline;
   margin-right: 2px;
}
div.ds-input {
   display: inline;
   font-size: 11px;
   margin: 0 2px 0 0;
}

div.ds-wrapper div.year, select.year {
   width: 60px;
   font-size: 11px;
}

div.ds-wrapper div.month, select.month {
   width: 95px;
   font-size: 11px;
}

div.ds-wrapper div.day, select.day {
   width: 50px;
   font-size: 11px;
}

/*-------------------------------------------------
NEW FORM STYLES
-------------------------------------------------*/

form.userform fieldset.ol {
   padding: 0;
   margin-bottom: 20px;
}

form.userform fieldset.ol ol {
	padding: 0;
	margin: 0 0 7px;
}

form.userform fieldset.ol ol.tight { margin: 0; }

form.userform fieldset.ol li {
	list-style: none;
	display: block;
	clear: both;
	padding: 8px 11px;
	margin: 0;
}

form.userform fieldset.ol li.altRow1 { background-color: #F9F9F9; }
form.userform fieldset.ol li.altRow2 { background-color: #FFFFFF; }

form.userform fieldset.ol div.notes, div.field_notes {
   background: #FFFFE1 url(information.gif) no-repeat 5px 5px;
   border: 1px solid #EBEBEA;
   color: #666666;
   float: right;
   font-size: 88%;
   margin: 0 0 0 5px;
   padding: 5px 5px 5px 23px;
   width: 300px;
}

div.field_notes { 
	width: 225px;
	margin-right: 18px !important;
	margin-right: 9px;
}

form.userform fieldset.ol label {
	float: left;
	width: 124px;
	clear: left;
   padding: 0;
   margin: 0;
   font-size: 11px;
   font-weight: normal;
}

form.userform fieldset.ol label.heading {
   font-weight: bold;
   width: 200px;
}

form.userform fieldset.ol label.focused { 
   padding: 0 0 3px 25px;
   margin-right: -25px;
   background-position: 0 -1px;
}

form.userform fieldset.ol ol.tight input.field { width: 184px; }

form.userform fieldset.ol  ol.tight select.field { width: 188px; }

form.userform fieldset.ol  ol.tight textarea.field { width: 350px; }

form.userform fieldset.ol table.checkboxes td {
   margin: 0;
   padding: 0;
   white-space: nowrap;
   width: 124px;
}

form.userform fieldset.ol p {
   font-style: normal;
   font-size: 11px;
   margin: 7px 11px;
}

form.userform fieldset.ol div.entryanswerdiv { margin: 11px; }

form.userform ol.readonly label { margin-top: 0; }

form.userform fieldset.ol ol.tight div#addrform-column { width: auto; }

form.userform fieldset.ol ol.tight div.address input, form.userform fieldset.ol ol.tight div.address select, form.userform fieldset.ol ol.tight div.address textarea { float: left; }

form.userform fieldset.ol ol.tight div.left, form.userform fieldset.ol ol.tight div.right {
   width: auto;
   float: none;
}

form.userform fieldset.ol ol.tight div.spacer { display: none; }

form.userform fieldset.ol table#listTable td span.indent {
   color: #434433;
   display: block;
   padding-left: 10px;
}

/*form.userform, div.formtable {
   background-color: white;
   margin: 0 0 20px;
   padding: 0;
}*/

form.userform table.noWrap td { white-space: nowrap; }

form.userform div.wrap table.noWrap td { white-space: normal; }

form.userform div.wrap div.field { width: auto; }

form.userform a, form.userform a:hover, form.userform a:active, form.userform a:visited { font-weight: normal; }

form.userform br { clear: both; }

/*
form.userform fieldset, div.formtable fieldset {
   border: 0;
   padding: 0;
   margin: 0 0 10px 0;
   clear: both;
}
*/

form.userform label, div.formtable label {
   display: block;
   margin: 6px 15px 0;
   clear: both;
   font-weight: bold;
   white-space: normal;
   padding: 0;
}

form.userform input, form.userform select, form.userform textarea, div.formtable input, div.formtable select,
div.formtable textarea {
   font-size: 11px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color: #000000;
}

form.userform input.field3 { 
   padding: 0;
   margin: 0 0 2px 15px;
   width: 40px; 
}

form.userform textarea.field, div.formtable textarea.field {
   padding: 0;
   margin: 0 15px;
   width: 90%;
   height: 4em;
   font-size: 10px;
}

form.userform div.left, form.userform div.right { width: 40%; }      

form.userform div.left { float: left; }

form.userform div.right { float: right; }

form.userform div.right select.field { width: 262px; }

form.userform div.right div.left select.field { width: auto; }

form.userform div.row {
   width: 95%;
   margin: 0;
   padding: 0;
   clear: both;
}

form.userform div.row div.left, form.userform div.row div.right { width: 46%; }

/* viewForm styles are an IE6 hack. However, they can be used to 
 * create good layout for view only forms that have 2 columns
 * w/o affecting layout in other areas.
 */
form.userform div.viewForm div.row {
	width: 90%;
	margin-left: 15px; /* Putting the padding in the row instead of on the label or div.field. This helps IE6 get the layout correct. */
}

form.userform div.viewForm div.row div.left {
	float: left;
	width: 45%;
	margin: 0;
	padding: 0;
}

form.userform div.viewForm div.row div.right {
	float: right;
	width: 50%;
	margin: 0;
	padding: 0;
}

div.viewForm div.row label, div.viewForm div.row div.field
{
	margin-left: 0px; /* No margin here or IE6 blows out the format. */
	width: 230px;
}
/* End IE6 hack styles */

form.userform div.requiredhdr { 
   text-align: center;
   color: #333333; 
   padding-bottom: 4px;
}

form.userform div.hdr, div.formtable div.hdr { border-top: 0; }

form.userform div.field, div.formtable div.field { margin: 0 15px; }

form.userform div.ds-wrapper { margin: 0 15px; }

form.userform p, form.userform div.entrytxt, div.formtable p, div.formtable div.entrytxt {
   margin: 0 0 0 15px; 
   padding: 0;
   font-style: oblique; 
   font-size: 10px; 
}

form.userform span.entrytxt, div.formtable span.entrytxt {
   font-weight: normal;
   font-size: 9px;
   color: #000000;
}
form.userform label.focused.required, label.focused, form.userform *.focused, label.focused, *.focused {
   background: url(required-icon.gif) no-repeat 15px -1px;
   color: #cc0000;
   padding: 0px 0px 3px 35px;
   margin: 3px 0 2px 0;
}

/* form.userform legend.hdr, form.userform div.hdr, div.formtable div.hdr, div.formtable div.multiplehdr,
form.userform legend.multiplehdr, form.userform div.multiplehdr {
   clear: both;
   background-color: transparent;
   color: #333333; 
   font-size: 11px;
   font-weight: bold; 
   vertical-align: middle;
   text-align: left;
   margin-left: 0;
   margin-top: 0;
   padding: 4px 0 3px 5px;
} */

form.userform legend.multiplesub, form.userform div.multiplesub, div.formtable legend.multiplesub, div.formtable div.multiplesub {
   background-color: transparent;
   color: #000000; 
   font-weight: bold;
   font-size: 11px; 
   vertical-align: middle; 
   padding: 2px 0 8px 15px;
   margin-top: 8px;
   border-top: solid 1px #cccccc;
}

form.userform legend.subhdr, form.userform div.subhdr, div.formtable legend.subhdr, div.formtable div.subhdr {
   background-color: #ffffff;
   color: #666666; 
   font-weight: bold;
   font-size: 12px; 
   vertical-align: middle; 
   padding: 9px 0 3px 15px;
   border-bottom: 0;
   width: 100%;
}

form.userform label.required, div.formtable label.required { 
   background-image: none;
   color: #CC0000;
   padding: 0; 
}

form.userform input.field, form.userform select.field, div.formtable input.field, div.formtable select.field {
   padding: 0;
   margin: 0 15px;
   width: 90%;
}

form.userform select.special-multiselect {
   padding: 0;
   margin: 0 0 0 15px;
   width: 590px; /* This is an override for a Firefox only UI bug. May need to be overridden in client.css. */
}

form.userform input.field2, form.userform select.field2, div.formtable input.field2, div.formtable select.field2 {
   padding: 0;
   margin: 0 0 0 15px;
   width: 200px;
}

form.userform td.field { padding-left: 15px; }

div.entryanswerdiv { margin: 0 15px; }

form.userform div.entryanswerdiv input.field, div.formtable div.entryanswerdiv input.field {
   width: 200px;
   margin: 0;
}

form.userform input.delete { 
   background-color: #972a1f; 
   color: #ffffff; 
   font-weight: bold;
   text-align: center;
   padding: 2px 2px 2px 2px; 
   border: solid 1px #972a1f;
}

/* This isn't being used anywhere but I wish it was. Those major stretch selects are funky! */

form.userform select.auto {
   padding: 0;
   margin: 0 15px;
   /* no width requirement */
}
    
form.userform textarea.address {
   padding: 0;
   margin: 0 15px;
   width: 90%;
}

div.submit-btn {
   margin: 0 auto;
   text-align: center;
}

form.userform div.submit-btn input { margin: 15px 0 15px 0; }

div.logobox {
   border: 1px solid #888;
   background: #fff;
   text-align: center;
   margin: 0 15px 3px 15px;
   width: 140px;
   height: 140px;
   vertical-align: middle;
   overflow: hidden;
   clip: auto;
}

form.userform #logobox-left {
   margin: 10px 15px;
   float: left;
}      

form.userform #logobox-right {
   float: right;
   margin: 10px 15px 10px auto;
   width: 180px;
}

form.userform table.checkboxes, form.userform table.specialRadios, form.userform table.geoselects, div.formtable table.checkboxes,
div.formtable table.specialRadios, div.formtable table.geoselects { margin-left: 12px; }

form.userform table.checkboxes td, div.formtable table.checkboxes td {
   margin: 0;
   padding: 0;
   white-space: nowrap;
}

form.userform select.geocoverage, div.formtable select.geocoverage { margin-left: 4px; }

form.userform table.geoselects { width: 95%; }

form.userform table.geoselects td {
   width: 33%;
   font-size: 10px;
}

form.userform table.geoselects td strong { font-size: 10px; }

form.userform table.geoselects td select { width: 95%; }

form.userform ul#access-settings { margin-top: 0; }

form.userform ul#access-settings li {
   margin: 0;
   padding: 0;
   font-size: 10px;
}

/* Scrolling checkbox for userform */

form.userform .checkboxScroll
{
   border: 1px solid #ccc;
   height: 20em;
   margin-left: 20px;
   padding-top: 5px;
   overflow: auto;
   width: 75%;
}

form.userform .checkboxScroll label
{
   display: block;
   font-weight: normal;
   line-height: 14px;
   margin: 0px 0px 0px 10px;
   padding-left: 25px;
   text-indent: -25px;
}

form.userform .checkboxScroll label:hover
{
   background: #777;
   color: #fff;
}


div.formtable div.formbody { text-align: left; }

div.formtable div.requiredhdr, form.userform div.requiredhdr, div.requiredhdr { 
   background-color: #ffffff; 
   text-align: center; 
   padding: 2px 0; 
   font-style: italic; 
   font-size: 10px;
   font-weight: normal;
   color: #cc0000; 
   margin: 0;
   border: 0;
}

/* Result table styles used in /common/dsp_list.php and others. */

th.resultshdr {
   text-align: left;
   font-weight: bold;
   font-size: 10px;
   font-family: Tahoma, sans-serif;
}

div.entryhdr {
   padding-right: 5px;
   font-size: 11px;
   display: block;
   color: #434433;
   font-weight: bold;
   margin-bottom: 4px;
}

span.entrytxt, p.entrytext {
   font-weight: normal;
   font-style: italic;
}

span.entrytxt strong { font-size: 10px; }

/* table style from core/lib/view/portal/zone/user/dsp_profile.php */

td.form-descriptor {
   font-weight: 600;
   vertical-align: top;
}

/*
* These are being depricated
*/

div.formbody {
   font-size: 11px;
   margin: 0;
   clear: both;
}

div.userform div.formbody { margin-left: 15px; }

div.formbody div.row {
   margin: 0;
   padding: 0;
   clear: both;
}

div.formbody div.row div.left, div.formbody div.row div.right { width: 48%; }

div.formtable {
   clear: both;
   border: 0;
}

div.formtable div.multiplehdr, div.formtable div.hdr, div.datatable div.multiplehdr, div.datatable div.hdr {
   clear: both;
   background-color: transparent;
   color: #FF6600;
   border-top: 3px dotted #FF6600;
   font-weight: bold;
   padding-top: 5px;
   margin-top: 7px;
}

div.formtable div.multiplehdr, div.formtable div.hdr { font-size: 14px; }

div.formtable div.multiplesub, div.datatable div.multiplesub {
   background-color: transparent;
   color: #FF6600;
   font-weight: bold;
}

div.formtable table#listTable { border: solid 1px #cccccc; }

div.formtable table#listTable th.resultshdr {
   background-color: #666666;
   color: #ffffff;
}

div#linkXL {
   width: 98%;
   text-align: center;
   padding-top: 10px;
}

/*
 * Scrollable results table
 */

fieldset.scrollable div.results {
   position:relative;
   width: 100%;
   height: 324px; 	/* must be greater than tbody*/
   overflow: auto;
   overflow-x: hidden;
}

fieldset.scrollable table>tbody	{  /* child selector syntax which IE6 and older do not support*/
   height: 250px;
   overflow: auto;
   overflow-x: hidden;
}
	
fieldset.scrollable tr { height: auto; }

fieldset.scrollable thead tr, fieldset.scrollable tfoot tr { position: relative; }

fieldset.scrollable table#listTable td.last { padding-right: 20px; }

fieldset.scrollable table>tbody	{  /* child selector syntax which IE6 and older do not support*/
   height: 250px;
   overflow: auto;
   overflow-x: hidden;
}
	
fieldset.scrollable tr { height: auto; }

fieldset.scrollable thead tr, fieldset.scrollable tfoot tr { position: relative; }

fieldset.scrollable table#listTable td.last { padding-right: 20px; }

fieldset.scrollable thead tr {

    /* Causes the pixel header row to stay fixed in IE*/
	top: expression(offsetParent.scrollTop);
	/* This fixes a strange bug in IE where the header row would "shift" 1px to
	   the right after the table was scrolled down.  It would not shift back
       after scrolling all the way, which made my first solution based on
       offSetParent.scrollTop == 0 not an effective solution*/
    left: expression(typeof(myvar) == 'undefined' ? 0+"px"+(myvar='true') : -1+"px");
}

/*
 * Admin search styles
 */

div.datatable label {
   margin-left: 0;
   padding-left: 0;
}

div.datatable form.listform {
   background-color: #ffffff;
   border: 0;
}

div.datatable form.listform fieldset {
   border: 0;
}

div.datatable form.listform div.hdr /* search results */, div.datatable div.hdr, div.datatable div.multiplehdr /* search box */ {
   clear: both; 
   background-color: transparent;
   color: #333333; 
   font-size: 11px;
   font-weight: bold; 
   vertical-align: middle;
   text-align: left;
   margin: 0;
   padding: 4px 0 3px 5px;
   border: 0;
}

div.datatable form.listform div.results table#listTable td { font-size: 9px; }

div.datatable input.field { width: 90%; }

div.datatable div.requiredhdr {
   color: #333333;
   background-color: #ffffff;
}

div.datatable div.hdr a {
   font-weight: normal;
   font-size: 10px;
}

div.datatable div.hdr div { margin-right: 5px; }

div.datatable span.entrytxt {
   font-weight: normal;
   font-size: 9px;
   color: #000000;
}

div.datatable table.searchoptions {
   clear: both;
   border: 0;
   margin: 5px 0 0 10px;
   padding: 0;
   font-size: 10px;
   font-weight: normal;
   background-color: transparent;
   color: #000000;
   width: 98%;
}

div.datatable table.checkboxes {
   margin: 0;
   padding: 0;
}

div.datatable table.checkboxes td {
   margin: 0;
   padding: 0;
   min-width: 124px;
/* white-space: nowrap; */
   padding-left: 20px;
   text-indent: -20px;
}

div.datatable .qsright table.checkboxes td {
   width: auto;
   min-width: 0;
}

div.datatable table.checkboxes input.checkbox {
/* margin: 0 5px 0 0; */
   width: 20px;
}

/* Paginate styles */

div.datatable table#paginate {
   width: 100%;
   text-align: left;
   margin: 0;
}

div.datatable table#paginate td {
   text-align: center;
   white-space: nowrap;
}


/*-------------------------------------------------
SEARCHING FORMS
-------------------------------------------------*/    

#formTab1, #formTab2 { background-color: white; }

#searchForm a.arrow_button, #searchForm2 a.arrow_button { margin-top: 15px; }

form.searchForm select {
   width: 280px;
   font-size: 11px;
}

form.searchForm a.right { clear: right; }

form.searchForm select.year, form.searchForm select.day { width: 60px; }
form.searchForm select.month { width: 75px; }

form.searchForm input { font-size: 11px; }

form.searchForm input.field { width: 280px; }

form.searchForm .searchinput { width: 160px; }

/* Scrolling checkbox for searchForm */

form.searchForm .checkboxScroll
{
   border: 1px solid #ccc;
   height: 12em;
   margin-left: 20px;
   padding-top: 5px;
   overflow: auto;
   width: 60%;
}

form.searchForm .checkboxScroll label
{
   display: block;
   font-weight: normal;
   line-height: 14px;
   margin: 0px 0px 0px 10px;
   padding-left: 25px;
   text-indent: -25px;
}

form.searchForm .checkboxScroll label:hover
{
   background: #777;
   color: #fff;
}


#SearchSplit { background-color: white; }

.qsleft {
   background-color: white;
   padding: 5px;
	float: left;
	width: 32%;
}

.qsright {
	float: right;
	width: 65%;
   margin-bottom: 14px;
}

div.searchoptions div.row { 
   clear: both;
   padding: 9px 10px 8px;
   border-top: 1px solid #E9E9E9;
}

div.searchoptions div.row label.qs {
   float: left;
   color: #666666;
   font: normal 11px Arial;
}

div.searchoptions div.row label.qs image { margin-right: -5px; }

div.searchoptions div.row div.field {
   margin-left: 2%;
   padding-bottom: 6px;
   float: right;
   text-align: left;
}

/* SearchAreaFull */

#SearchAreaFull div.searchoptions div.row label.qs, #searchForm2 div.searchoptions div.row label.qs {
   width: 16%;
   margin: 0 0 6px;
   padding: 0;
}

#SearchAreaFull div.searchoptions div.row div.field, #searchForm2 div.searchoptions div.row div.field { width: 81%; }
   
/* SearchAreaMini */

div#SearchAreaMini div.searchoptions div.row label.qs { width: 120px; }

div#SearchAreaMini div.searchoptions div.row div.field { width: 300px; }


/* Geo Coverage */

div.geo_container {
   height: 100%;
   padding-left: 9px;   
   display: block;

}

div.geographic_coverage {
   width: 140px;
   float: left;
   display: inline-block;
   /*
   display:inline;
   */
   padding-left: 6px; 
}

div.geographic_coverage select{
   width: 120px;
}
/* formTab4 */

form#formTab4 ul.none { margin-left: 10px; }

form#formTab4 ul.none li {
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
   font-size: 10px;
}

/* Inline forms: Label on left form field on right */
div.inlineForm {
	width: 560px;
	margin: 10px 0 0 0;
}

div.inlineForm div.row {
	clear: both;
	height: 25px;
	margin-left: 15px;
}

div.inlineForm div.row label.qs {
   float: left;
   text-align: left;
	 width: 150px;
	 margin: 0px;
}

div.inlineForm div.row div.field {
   float: right;
   text-align: left;
	 width: 380px;
	 margin: 0px;
}

div.inlineForm div.row div.field input, div.inlineForm div.row div.field input.field2, div.inlineForm div.row div.field div.ds-wrapper {
	margin-left: 0;
}

select.fieldimport, input.fieldimport, div.fieldimport {
   width: 100px;
   margin: 5px;
}
div.fieldimport {
   width: 110px;
}
td.importtd {
   width: 120px;
	text-overflow:ellipsis;
	overflow:hidden;
}
#importdiv {
   width: 660px;
   height:400px;
   overflow:scroll;
}

div.row div.field input.field {
   margin-left: 0 !important;
}

input.currency {
   width: 100px !important;
}

/* YUI Niceforms overrides */

form.ynf div.row {
	width: auto;
}

form.ynf div.row label {
	font: normal 11px/17px Arial;
	color: #333333;
	margin-top: 0;
}

form.ynf div.row label.required { color: #CC0000; }

form.ynf div.field, form.ynf input.field, form.ynf label {
	margin-left: 20px;
}

form.ynf div.field {
	margin-top: 5px;
}

form.ynf input.field {
	margin-right: 0;
	width: 194px;
}

form.ynf div.ynf-select-wrapper {
	margin-left: 20px;	
}

form.ynf div.right {
	float: left;
}

form.ynf div.row div.left {
	width: 224px;
	display: inline;
}

form.ynf div.row div.right {
	width: 300px;
	display: inline;
}

form.ynf div.ds-wrapper { margin: 0; }

#content-wrap form.ynf a.ynf-select-button:link,
#content-wrap form.ynf a.ynf-select-button:active,
#content-wrap form.ynf a.ynf-select-button:visited {
	font: normal 11px/22px Arial;
	color: #333333;
}

#content-wrap div.ynf-options-container ul li a:link, #content-wrap div.ynf-options-container ul li a:active, #content-wrap div.ynf-options-container ul li a:visited {
	font: normal 11px/13px Arial;
	color: #333333;
}

#content-wrap div.ynf-options-container li {
	background: none;
	padding: 0;
	font: normal 11px Arial;
	float: none;
}

#content-wrap form.ynf input[type="text"] {
	font: bold 12px Arial;
	padding-top: 3px;
}

#content-wrap .ynf-options-wrapper { top: 21px; }

#content-wrap img.ynf-text { height: 23px; }

form.ynf div#rc_advanced div.ynf-select-wrapper, #rc-filter-btn, form.ynf div#rc_advanced label { margin-left: 5px; }

form.ynf div#rc_advanced li.yui-skin-sam label { margin-left: 0; }

form.ynf div#rc_advanced div.ynf-select-wrapper, form.ynf div#rc_advanced #date_start, form.ynf div#rc_advanced #date_end { margin-top: 2px; }

#content-wrap form.ynf input#date_start, #content-wrap form.ynf input#date_end, form.ynf #rc-search-input { font: normal 11px Arial; }

form.ynf #rc-search-input { background: none; }

form.ynf #rc-search-box img.ynf-text { display: none; }

form.ynf #dir-search-input {
   background: none;
   font: 12px/12px Arial;
   padding: 3px 0 2px 7px;
   width: 131px;
   float: left;
}

form.ynf #dir-search-box img.ynf-text { display: none; }

#dir-search-box {
    background: url(search_dir_bg.gif) no-repeat scroll 0 0 transparent;
    float: left;
    width: 169px;
}

#dir-search-btn {
    height: 23px;
    float: right;
}

#directory input {
    font: 12px/12px Arial;
    color: #455560;
}

#directory form.ynf a.ynf-select-button:link, #directory form.ynf a.ynf-select-button:active, #directory form.ynf a.ynf-select-button:hover, #directory form.ynf a.ynf-select-button:visited {
    font-size: 12px;
    font-family: Arial;
    line-height: 12px;
    font-weight: normal;
    color: #455560;
    padding: 9px 0 7px 7px;
    height: 12px;
}

#directory .dir-btn {
    height: 29px;
}

#directory .ynf-options-wrapper {
    top: 28px;
    left: 0;
    right: auto;
}

#directory form.ynf a.ynf-select-button:link .ynf-button-right, form.ynf a.ynf-select-button:active .ynf-button-right, form.ynf a.ynf-select-button:visited .ynf-button-right {
    width: 28px;
    height: 28px;
    background-position: -762px -74px;
}

#directory-search {
    color: #455560;
}

#directory-search label {
    font: 12px/12px Arial;
    display: block;
    margin: 20px 0 7px;
}

#finder_refine label {
    font: 12px/12px Arial;
    display: block;
    margin: 23px 0 7px 5px;
    color: #455560;
}

div.padded_div {
   background-color: white;
   padding: 15px;
}

a#button_blue.arrow_button {  background: url(buttons_blue.gif) no-repeat 100% 0; }

a#button_blue.arrow_button span { background: url(buttons_blue.gif) no-repeat 0 -240px; }

a#button_blue.arrow_button:hover span { background: url(buttons_blue.gif) no-repeat 0 -280px; }

a#button_red.arrow_button { background: url(buttons_red.gif) no-repeat 100% 0; }

a#button_red.arrow_button span { background: url(buttons_red.gif) no-repeat 0 -240px; }

a#button_red.arrow_button:hover span { background: url(buttons_red.gif) no-repeat 0 -280px; }

table.grid td { border-top: solid 1px #cccccc; vertical-align:top; }
table.grid th label {margin-right: 0; padding-right: 0;}
table.grid td.amount, table.grid th.amount { text-align: right; width: 110px; }
table.grid td.amountf, table.grid th.amountf { text-align: right; width: 160px; }
table.grid th.amountf label, table.grid th.amount label {text-align: right; float: right;}
table.grid th.name, table.grid td.name { width: 200px; }
table.grid th.approvals, table.grid td.approvals { width: 250px; }
table.grid td.approvals { padding-left:5px; }

.emptyFieldsToggle { text-align: right; }

#special_pricing_info .field .field {
   width:auto;
}
#special_pricing_info div div.field div.field {
   margin:0;
}
#special_pricing_info div div.field div.field table {
   margin:0;
}