.THIS {
    background-color:#f4f4f4;
    font-family: 'Salesforce Sans',Arial,sans-serif;
}

.THIS .footer {width: 100%; height:auto; float:left; padding:0px; background-color: #f8f8f8; bottom: 0px;}
.THIS .footer-content {width: 100%;height: auto; float: left;padding:30px 0px; bottom: 0px;}
  .THIS .terms{float: left; color: #bcbec0;width:60%;}
  .THIS .terms ul{width:100%;height:auto;float:left;padding-left:0px;}
  .THIS .terms ul li{list-style:none;display:inline;}
  .THIS .terms ul li a{color: #999999; margin-right: 0px;text-decoration:none; font-size:13px;}
  .THIS .terms ul li A:visited {color: #999999 !important;}
  .THIS .rights{width: 100%;height: auto;float: left;padding-top:35px;}
.THIS .rights span{  float: left; font-size:12px; color: #bcbec0 !important; }

.THIS r{ width:100%; float:left; padding:10px 0px;}
.THIS .copyrights{width:100%; height:auto; float:left;}
.THIS .copyrights ul{float:left; list-style:none; padding-left:0px; margin-bottom:0px;}
.THIS  .copyrights ul li {float:left; color:#909090; display:inline; padding:0px 3px;}

.THIS .terms {}
.THIS  .terms ul {float:right; list-style:none; padding-left:0px; margin-bottom:0px;/* width:100%;*/}
.THIS  .terms ul li { float:left; display:inline; padding: 0px 26px 0px 0px;}
.THIS .terms ul li a { float:left;}
.THIS .terms ul li a:hover {  }

.THIS .share{float: right; color:#bcbec0; width:100%;}
.THIS .share ul{width:auto;height:auto;float:right;padding-left:0px; margin-bottom:0px;}
.THIS .share ul li{list-style:none;display:inline;}
.THIS .share ul li a{text-decoration:none;margin-left: 15px;font-size:22px;
  float: left;
  color: #bcbec0;}
.THIS .share ul li a:visited {color:#bcbec0;}
.THIS .share ul li a:hover {
  color: #939598;
}



/*Container*/
.THIS .container {
  padding-right: 15px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 1240px;
}

.THIS .container:before,
.THIS .container:after {
  display: table;
  content: " ";
}

.THIS .container:after {
  clear: both;
}

.THIS .container:before,
.THIS .container:after {
  display: table;
  content: " ";
}

.THIS .container:after {
  clear: both;
}

/*Container*/