.lookupGlassIcon {
        background-image: url("/img/sprites/master.png");
        background-position: 0 -1202px;
        height: 32px;
        width: 32px;
        margin-top:5px;
    }
    .lkup {
        color: #333435;
        font-size: 1.8em;
        margin: 8px 0 4px;
        position: absolute;
        font-weight: bold;
    }
    .cnt {
        color: #000000;
        font-size: 14px;
        font-weight: bold;
    }
    .contactImgIcon {
         background-image: url("/img/sprites/master.png");
         background-position: 0 -502px;
         height: 24px;
         width: 24px;
         margin: 6px 6px 0px 6px;
    }
    .searchDiv {
        color: #4a4a56;
        font-size: 0.9em;
        font-weight: bold;
        margin: 0 5px 40px 0;
    }
    .tableHeader {
    	font-family: "Arial","Helvetica",sans-serif;
    	font-size: 118%;
    	font-weight: bold;
    }
    #msgContainer {
    	 color: #d74c3b;
    	 display:none;
    }
    body {
    	margin-left:1%
    }